* {
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
}

.container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

p:first-child {
  padding: 25px;
  margin-top: 0;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  background-color: black;
}

.second-paragraph {
  padding: 0;
  margin-bottom: 0;
  font-size: 1.25em;
  font-weight: bold;
  background-color: white;
}
.third-paragraph {
  font-weight: lighter;
  color: darkgray;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 3px;
  border-bottom: solid 6px black;
}

p,
h2 {
  text-align: center;
}

div p:first-child {
  color: black;
  background-color: white;
  padding-bottom: 10px;
}

form {
  padding-top: 25px;
  border-top: 3px solid black;
}

fieldset {
  border: none;
}

.contact-info {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid black;
}

.contact-labels {
  font-weight: lighter;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.newsletter-labels {
  margin-left: 10px;
}

::placeholder {
  text-align: right;
  padding-right: 15px;
  color: lightgray;
}

input {
  height: 50px;
}

select {
  height: 50px;
  width: 210px;
}

#topics::placeholder {
  text-align: left;
}

textarea {
  height: 100px;
  width: 325px;
  margin-top: 20px;
}

input,
select,
textarea {
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
/* MAKES ALL THE FIELDS IN THE CONTACT INFO SECTION WIDER (EXCEPT ZIP CODE) */
.contact-info input,
.contact-info select {
  width: 325px;
  margin-top: 10px;
}

#zip {
  width: 162.5px;
  margin-bottom: 25px;
}

.newsletter-info {
  display: flex;
  flex-direction: column;
  background-color: rgba(75,156,211,0.2); /* GIVES NEWSLETTER SECTION OF THE FORM A LIGHT CAROLINA BLUE COLOR */
}

.newsletter-info legend:first-child {
  margin-bottom: 20px;
}

/* Adds a border color and a background color that fades in and out to these fields when in focus  */
input:focus,
textarea:focus {
  outline: 3px solid #09f;
  background-color: lavenderblush;
}

button {
  color: white;
  background-color: rgb(8, 104, 88);
  height: 50px;
  width: 325px;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 15px;
}

p:last-child {
  font-size: 0.85em;
  font-weight: lighter;
  font-style: italic;
  color: darkgray;
  margin-top: 25px;
}

.contact-info {
  margin-bottom: 25px;
}

legend {
  font-weight: bold;
  font-size: 1.25em;
}

input[type="checkbox"],
input[type="radio"] {
  height: 15px;
  margin-right: 15px;
}

/* MEDIA QUERIES -------------------------------------------------------------- */

/* DESKTOP */

@media screen and (min-width: 768px) {
  .labels_inputs {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: center;
  }

  .contact-info {
    padding-bottom: 50px;
  }

  .contact-labels {
    width: 130px;
    height: 50px;
    padding-top: 10px;
  }

  .contact-labels,
  .contact-info input {
    display: inline-block;
  }

  .contact-info input,
  .contact-info select {
    width: 525px;
    margin-left: 25px;
  }

  #zip {
    width: 131.25px;
  }

  textarea {
    width: 100%;
  }

  button {
    width: 100%;
    margin: auto;
    margin-top: 25px;
  }
}
