* {
  box-sizing: border-box;
}
body {
  font-family: 'Merriweather', serif;
}
.container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
p:first-child {
  padding: 25px;
  margin-top: 0;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  background-color: black;
}
.second-paragraph {
  font-size: 1.25em;
  font-weight: bold;
}
p, h2 {
  text-align: center;
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.contact-labels {
  font-weight: 100;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}
.newsletter-labels {
  margin-left: 10px;
}
::placeholder {
  text-align: right;
  padding-right: 15px;
  color: lightgray;
}
input {
  height: 50px;
}
select {
  height: 50px;
  width: 210px;
}
textarea {
  height: 100px;
  width: 325px;
  margin-top: 20px;
}
input, select, textarea {
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
}
/* MAKES ALL THE FIELDS IN THE CONTACT INFO SECTION WIDER (EXCEPT ZIP CODE) */
.contact-info input, .contact-info select{
  width: 325px;
}
#zip {
  width: 200px;
  margin-bottom: 25px;
}
.newsletter-info {
display: flex;
flex-direction: column;
}


/* #html_news, #css_news, #javascript_news, .newsletter-labels {
  display: inline-block;
} */
/* .newsletter-info input {
  border: solid;
}  */

input:focus, textarea:focus {
  outline: 3px solid #09f;
}
button {
  color: white;
  background-color: #39add1;
  height: 50px;
  width: 210px;
  margin-top: 20px;
}














/* MEDIA QUERIES */